.videoRecorder__container {
  position: relative;
}

.videoRecorder__video {
  max-width: 100%;
  transform: scaleX(-1);
}

#statusTag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 8px;
  font-size: 24px;
  max-width: 100%;
  font-weight: 600;
  padding: 10px 15px 8px;
  outline: 5px solid #FFF;
  white-space: nowrap;
  opacity: .8;
}

#startBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  width: auto;
  transform: translateX(-50%) translateY(-50%);
  font-weight: 600;
  padding: 10px 15px 8px;
  white-space: nowrap;
  font-size: 24px;
  outline: 5px solid #FFF;
}